@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box; }

p {
  max-width: 80%;
  margin: 0 auto; }

.btn--default {
  background: #51ddfc; }

.btn--success {
  background: #63cc82; }

.btn--error {
  background: #e4757a; }

.btn--warning {
  background: #fd7856; }

.btn--info {
  background: #927bc1; }

.grid__row button {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 15px;
  max-width: 92%; }

input[type="text"],
input[type="password"] {
  border-width: 0px  0px 5px 0px;
  border-bottom-color: #58e1c1;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 30px;
  max-width: 92%; }

.form__label--hidden {
  display: none; }

.grid__col--12.theme__colors {
  background: #58e1c1;
  margin: 0px 0px 30px; }

.grid__col--6.theme__colors {
  background: #3fabca;
  margin-top: 4px; }
  .grid__col--6.theme__colors:last-child {
    margin-bottom: 35px; }

.grid__col--4.theme__colors {
  background: #7ee6fd;
  margin-top: 4px; }
  .grid__col--4.theme__colors:last-child {
    margin-bottom: 35px; }

.grid__col--3.theme__colors {
  background: #deb2ee;
  margin-top: 4px; }
  .grid__col--3.theme__colors:last-child {
    margin-bottom: 35px; }

.grid__col--5.theme__colors {
  background: #88d9a0; }

.grid__col--7.theme__colors {
  background: #ec9fa3;
  margin: 4px 0px 4px; }
  .grid__col--7.theme__colors:last-child {
    margin-bottom: 25px; }

.grid__col--8.theme__colors {
  background: #fd9f85;
  margin-top: 35px; }

.theme__colors {
  padding: 10px;
  border-radius: 5px;
  border: none; }

.grid__row {
  align-content: center;
  max-width: 95%;
  margin: 0 auto; }

img.img--logo {
  max-width: 50%;
  margin-top: 2em;
  display: block;
  margin: 0 auto; }

.img--frame {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.img--avatar {
  max-width: 50%;
  display: block;
  margin: 0 auto; }

.nav {
  list-style: none; }

ul.nav {
  padding: 0;
  text-align: center; }

.nav__item {
  padding: 10px 15px;
  border-width: 10px 15px;
  border-radius: 5px;
  transition-duration: 900ms;
  transition-property: background, border-radius, color;
  transition-timing-function: ease-in-out; }

.nav__item:hover {
  background-color: #58e1c1;
  border-width: 10px 15px;
  border-radius: 5px; }
  .nav__item:hover a {
    color: #ffff;
    transition-duration: 1.3s; }

.nav__item:active {
  border-width: 10px 15px;
  border-radius: 5px;
  background-color: #58e1c1;
  border: 30px; }
  .nav__item:active a {
    color: #ffff; }

@media (min-width: 1400px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto; } }
.container {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #818181; }

button.theme__colors {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 900;
  text-transform: uppercase; }

.form__input {
  font-weight: 600; }

nav a {
  color: #818181;
  text-decoration: none; }

.headline--primary {
  color: #58e1c1;
  font-weight: 900; }

.headline--secondary {
  max-width: 92%;
  margin: 0 auto;
  font-weight: 100;
  padding: 40px 0; }

.link {
  color: #51ddfc; }

.blockquote {
  border-left: 8px solid #58e1c1;
  border-radius: 5px;
  padding-left: 15px;
  margin: 20px 6px; }

/*# sourceMappingURL=styles.css.map */
