@mixin grid{
margin-top:4px;
&:last-child{
margin-bottom:35px;
 }
}

@mixin align{
display:block;
margin:0 auto;
}

@mixin nav-border{
border-width: 10px 15px;
border-radius: 5px;
}

@mixin buttonstyles{
display:block;
margin: 0 auto;
width: 100%;
margin-bottom: 15px;
@content;
}

//Media queries 1400px
@mixin nav-flex{
display:flex;
flex-direction:row;
justify-content: space-between;
margin: 0 auto;
padding: 20px;
}
