@mixin align{
display:block;
margin:0 auto;
}

@mixin nav-border{
border-width: 10px 15px;
border-radius: 5px;
}

@mixin buttonstyles{
display:block;
margin: 0 auto;
width: 100%;
margin-bottom:25px;
@content;
}

//Breakpoints
$desktop:1400px;

//Media queries
@mixin mq($desktop){
@if $desktop == 'desktop'{
 @media (max-width:$desktop){
 @content;
  }
 }
}

@mixin flex(
$disp:flex,
$dir:null,
$wrap:null,
$just:null,
$align:null){
display:$disp;
flex-direction:$dir;
flex-wrap:$wrap;
justify-content:$just;
align-items:$align;
}