//Colors
.btn--default{
background:$malibu;
}
.btn--success{
background:$emerald;
}
.btn--error{
background:$sunglo;
}
.btn--warning{
background:$coral;
}
.btn--info{
background:$purple-mountain;
}

//Styles
.grid__row button{
@include buttonstyles;
max-width:$medium-width;
}

//Media Queries
@media(min-width:$media-desktop){
.grid__col--12:only-child{
 @include flex($dir:row);
 flex-grow:1;
 }
 .grid__col--12 .btn--default,
 .btn--success,
 .btn--error,
 .btn--warning,
 .btn--info{
 margin:0px 50px 0px 50px !important;
 }
}