.btn--default{
background:$malibu;
padding: 5px;
border-radius: 10px;
}

.btn--success{
background:$emerald;
}

.btn--error{
background:$sunglo;
}

.btn--warning{
background:$coral;
}

.btn--info{
background:$purple-mountain;
}
