//Styling
.form{
 margin-top:2.5em;  
 &__input{
 @include styling($mar-t:30px, $wid-m:85%, $disp:block, $mar:0 auto, $wid:100%, $mar-b:25px, $brd-w:0px  0px 5px 0px);
 border-bottom-color:$viking;
  }
 &__label--hidden{
 display:none;
  }
 }