//Color grid buttons
.grid__col--12.theme__colors{
background:$viking;
}
.grid__col--6.theme__colors{
background:$shakespeare;
margin-top:4px;
}
.grid__col--4.theme__colors{
background:$anakiwa;
margin-top:4px;
}
.grid__col--3.theme__colors{
background:$french-lilac;
margin-top:4px;
}
.grid__col--5.theme__colors{
background:$vista-blue;
margin-top:4px;
}
.grid__col--7.theme__colors{
background:$sea-pink;
margin-top:4px;
}
.grid__col--8.theme__colors{
background:$vivid-tangerine;
}

//Styles
.theme__colors{
padding: 10px;
border-radius: 5px;
border:none;
}

.grid__row{
align-content: center;
max-width: 82%;
padding-bottom:35px;
margin:0 auto;
}

//Media Queries
@media only screen and(min-width:$media-desktop){
.grid__row{
@include flex($disp:flex, $dir:row);
}

.grid__col--12.theme__colors{
flex-grow:1;
margin:0px 5px 0px 5px;
justify-content:center;
}

.grid__col--6.theme__colors,
.grid__col--4.theme__colors,
.grid__col--3.theme__colors,
.grid__col--5.theme__colors{
flex-grow:1;
margin:0px 5px 0px 5px;
text-align: center;
}

.grid__col--7.theme__colors,
.grid__col--8.theme__colors{
flex-grow:2;
margin:0px 5px 0px 5px;
text-align: center;
}

.grid__col--7.theme__colors.centered{
max-width:50%;
margin:auto;
}
 }