//Color grid buttons
.grid__col--12.theme__colors{
background:$viking;
}
.grid__col--6.theme__colors{
background:$shakespeare;
margin-top:4px;
}
.grid__col--4.theme__colors{
background:$anakiwa;
margin-top:4px;
}
.grid__col--3.theme__colors{
background:$french-lilac;
margin-top:4px;
}
.grid__col--5.theme__colors{
background:$vista-blue;
margin-top:4px;
}
.grid__col--7.theme__colors{
background:$sea-pink;
margin-top:4px;
}
.grid__col--8.theme__colors{
background:$vivid-tangerine;
}

//Styles
.theme__colors{
@include box-style($pad:10px, $brd-r:5px, $brd:none);
}

.grid__row{
@include box-style($mar:0 auto, $wid-m:82%);
align-content: center;
padding-bottom:35px;
}

//Media Queries
@include mq(large){
.grid__row{
@include flex($disp:flex, $dir:row);
}

.grid__col--12.theme__colors,
.grid__col--6.theme__colors,
.grid__col--4.theme__colors,
.grid__col--3.theme__colors,
.grid__col--5.theme__colors{
@include box-style($mar:0px 5px 0px 5px, $txt:center);
justify-content:center;
flex-grow:1;
}

.grid__col--7.theme__colors,
.grid__col--8.theme__colors{
@include box-style($mar:0px 5px 0px 5px, $txt:center);
flex-grow:2;
}

.grid__col--7.theme__colors.centered{
@include box-style($mar:auto, $wid-m:50%);
}
 }