.img--logo{
@include box-style($mar:0 auto, $disp:block, $wid-m:50%);
transition: 1s;
&:hover{
transform:rotate(360deg);
transition-timing-function:cubic-bezier(.76,-1.1,.56,.84);
}
 }

.img--frame{
@include box-style($mar:0 auto, $disp:block, $wid-m:92%, $brd:15px solid white);
outline:1px solid $silver;
}

.img--avatar{
@include box-style($mar:0 auto, $disp:block, $wid-m:50%, $mar-t:1em);
}

//Media Queries
@include mq(large){
.grid__row:nth-child(5){
@include flex($dir:row, $just:center);
}  
.grid__col--6{
flex-basis: 40%;
}
.img--logo{
max-width:80%;
 }
}