.img--logo{
max-width:50%;
margin-top:2em;
transition: 1s;
@include align;
&:hover{
transform:rotate(360deg);
transition-timing-function:cubic-bezier(.76,-1.1,.56,.84);
}
 }

.img--frame{
max-width:100%;
@include align;
}

.img--avatar{
max-width: 50%;
@include align;
}

//Media Queries
@media(min-width:$media-desktop){
  .grid__row:nth-child(5){
  @include flex($dir:row, $just:center);
  }  
  .grid__col--6{
  flex-basis: 40%;
  }
}