.img--logo{
max-width:50%;
transition: 1s;
@include align;
&:hover{
transform:rotate(360deg);
transition-timing-function:cubic-bezier(.76,-1.1,.56,.84);
}
 }

.img--frame{
max-width:$medium-width;
@include align;
border:15px solid white;
outline:1px solid $silver;
}

.img--avatar{
max-width: 50%;
@include align;
margin-top:1em;
}

//Media Queries
@media(min-width:$media-desktop){
  .grid__row:nth-child(5){
  @include flex($dir:row, $just:center);
  }  
  .grid__col--6{
  flex-basis: 40%;
  }

.img--logo{
max-width:80%;
 }
}