.img--logo{
max-width:50%;
margin-top:2em;
@include align;
}

.img--logo{
transition:1s;
}

.img--logo:hover{
transform:rotate(360deg);
transition-timing-function:cubic-bezier(.76,-1.1,.56,.84);
}

.img--frame{
max-width:100%;
@include align;
}

.img--avatar{
max-width: 50%;
@include align;
}
