//Styling
.nav{
@include styling($pad:0, $txt:center);
list-style: none;
}

.nav__item{
@include styling($pad:10px 15px, $brd-w:10px 15px, $brd-r:5px);
transition-duration:900ms;
transition-property: background, border-radius, color;
transition-timing-function: ease-in-out; 
a{
color:$grey;
text-decoration:none;
}
&:hover{
background-color: $viking;
@include styling($brd-w:10px 15px, $brd-r:5px);
a{
color:#fff;
transition-duration:1.3s;
  } 
 }
&:active{
@include styling($brd-w:10px 15px, $brd-r:5px, $brd:30px);
background-color: $viking;
a{
 color:#fff;
  } 
 }
}

//Media Query
@include mq(large){
.grid__row:first-child, .nav{
@include flex($dir:row, $just:space-between);
@include styling($mar:0 auto, $wid-m:60%, $pad:10px);
 }
.grid__row:first-child{
margin-left:150px;
}
.nav__item{
padding:10px 20px;
}
.card{
@include styling($mar:50px, $txt:left);
 }
}