//Styles
.nav{
list-style: none;
padding:0;
text-align: center;
}

.nav__item{
padding: 10px 15px;
@include nav-border;
transition-duration:900ms;
transition-property: background, border-radius, color;
transition-timing-function: ease-in-out; 
a{
color:$grey;
text-decoration:none;
}
&:hover{
background-color: $viking;
@include nav-border;
a{
color:#ffff;
transition-duration:1.3s;
  } 
 }
&:active{
@include nav-border;
background-color: $viking;
border:30px;
a{
 color:#ffff;
  } 
 }
}

//Media Query
@media (min-width:$media-desktop){
.grid__row:first-child, .nav{
@include flex($dir:row, $just:space-between);
margin: 0 auto;
padding:10px;
max-width:60%;
 }
.grid__row:first-child{
margin-left:150px;
}

.nav__item{
padding:10px 20px;
}

.card{
margin:50px;
text-align: left;
 }
}