//Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//Font styling
.container{
font-family:$bodyfont;
font-size:16px;
color:$grey;
margin-top:2em;
p &{
margin: 0 auto;
}
}

button.theme__colors{
font-family: $bodyfont;
color:#fff;
font-weight:900;
text-transform:uppercase;
}

.form__input{
font-weight:600;
}

.headline--primary{
@include box-style($mar:0px 0px 20px 20px, $wid-m:100%, $fnt:900, $clr:$viking);
}

.headline--secondary{
@include box-style($mar:0 auto, $wid-m:82%, $fnt:100, $pad:20px 0);
}

.link{
color:$malibu;
}

.blockquote{
@include box-style($brd-r:5px, $mar:20px 15px);
border-left: 8px solid $viking;
font-size:x-large;
padding-left: 15px;
}

//Media Queries
@include mq(large){
.grid__row:nth-child(3){
@include flex($dir:row, $just:space-evenly);
max-width:80%;
 }
.grid__col--8{
flex-grow:1;
max-width:700px;
 }
.grid__col--4{
flex-grow:2;
 }
}