//Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//Font styling
.container{
font-family:$bodyfont;
font-size:16px;
color:$grey;
}

button.theme__colors{
font-family: $bodyfont;
color:white;
font-weight:900;
text-transform:uppercase;
}

.form__input{
font-weight:600;
}

nav a{
color:$grey;
text-decoration:none;
}

.headline--primary{
color:$viking;
font-weight:900;
}

.headline--secondary{
max-width:$medium-width;
margin: 0 auto;
font-weight:100;
padding:40px 0;
}

.link{
color:$malibu;
}

.blockquote{
border-left: 8px solid $viking;
border-radius: 5px;
padding-left: 15px;
margin: 20px 6px;
}

//Media queries
@media (min-width:$media-desktop){
.grid__row:nth-child(3), .grid__col--4:first-child{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
 
 }

.grid__col--8:first-child{
    width:50%;
    height: 80%;
    max-width: 480px;
  
 }

.form{
    width:200%;
    height: 200%;
    max-width: 480px;
  
 }
}