//Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//Font styling
.container{
font-family:$bodyfont;
font-size:16px;
color:$grey;
}

button.theme__colors{
font-family: $bodyfont;
color:white;
font-weight:900;
text-transform:uppercase;
}

.form__input{
font-weight:600;
}

.headline--primary{
color:$viking;
font-weight:900;
}

.headline--secondary{
max-width:$medium-width;
margin: 0 auto;
font-weight:100;
padding:40px 0;
}

.link{
color:$malibu;
}

.blockquote{
border-left: 8px solid $viking;
border-radius: 5px;
padding-left: 15px;
margin: 20px 6px;
}

//Media Queries
@media (min-width:$media-desktop){
.grid__row:nth-child(3){
@include flex($dir:row, $just:space-evenly);
max-width:$narrow-width;
 }
.grid__col--8{
flex-grow:1;
max-width:700px;
 }
.grid__col--4{
flex-grow:2;
 }
}